<div id="menu_tab">
    <div class="left_menu_corner"></div>
    <ul class="menu">
         <li><a href="@Href("~/")" class="nav1">  Início </a></li>
         <li class="divider"></li>
         <li><a href="#" class="nav2">Produtos</a></li>
         <li class="divider"></li>
         <li><a href="#" class="nav3">Especiais</a></li>
         <li class="divider"></li>
         <li><a href="@Href("~/conta/conta.cshtml")" class="nav4">Conta</a></li>
         <li class="divider"></li>
         <li><a href="@Href("~/conta/registrar.cshtml")" class="nav4">Registro</a></li>
         <li class="divider"></li>                         
         <li><a href="#" class="nav5">Fréte </a></li>
         <li class="divider"></li>
         <li><a href="@Href("~/contato.cshtml")" class="nav6">Contate-nos</a></li>
         <li class="divider"></li>
         <li class="currencies">Moeda
         <select>
         <option>Real</option>
         </select>
         </li>
    </ul>

    <div class="right_menu_corner"></div>
</div><!-- end of menu tab -->