<div class="footer">
    <div class="left_footer">
    <img src="@Href("~/comp/imgs/logo_footer.png")" alt="" title="" width="170" height="49"/>
    </div>
    
    <div class="center_footer">
    GrupoTecweb &copy;. Todos os direitos reservados 2011<br />
    <img src="@Href("~/comp/imgs/payment.gif")" alt="" title="" />
    </div>

    <div class="right_footer">
    <a href="@Href("~/")">início</a>
    <a href="detalhes.html">sobre</a>
    <a href="detalhes.html">mapa do site</a>
    <a href="detalhes.html">rss</a>
    <a href="contact.html">contate-nos</a>
    </div>
</div>